body {
    font-family: Arial, sans-serif;
}

.project-card {
    transition: transform 0.3s ease;
}


#sobre-mi img {
    border: 3px solid #3399FF; /* Borde azul para que coincida con el esquema de color */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave */
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.project-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.project-card .card-body {
    display: flex;
    flex-direction: column;
}

.project-card .card-text {
    flex-grow: 1;
}